# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
*.tmp

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
.coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android specific
**/android/.gradle/
**/android/.idea/
**/android/local.properties
**/android/app/*.keystore
**/android/app/src/profile
**/android/app/src/debug
**/android/app/build/

# iOS specific
**/ios/Flutter/.generated
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Flutter.xcframework
**/ios/Flutter/FlutterPluginRegistrant
**/ios/Flutter/App.framework
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/App.xcworkspace/xcuserdata/
**/ios/build/

# Windows specific
**/windows/.vs/
**/windows/build/

# MacOS specific
**/macos/Pods/
**/macos/.symlinks/
**/macos/build/

# Web specific
**/web/.dart_tool/
**/web/build/

# Linux specific
**/linux/build/

# Symbolication related
app.*.symbols
